gamification/.DS_Store
gamification/__pycache__
__pycache__
.DS_Store
system_files/gamification_images/.DS_Store
system_files/.DS_Store
web/.DS_Store
system_files/gamification_images/.DS_Store
system_files/gamification_images/.DS_Store
system_files/gamification_images/restaurant_folder/.DS_Store
user_files/main_bg
user_files/profile
user_files/gamification_*
user_files/settings_*
user_files/icons/*
meta.json
